<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<header th:fragment="header" class="mb-3">
		<div class="container">
				
			<div class="row">
				
				<div class="col col-left col-4 py-1">
					<a href="/">			
						<img style="width: 100px;" th:src="@{/image/logo-photography.png}" alt="logo not-fount" class="logo">
					</a>
				</div>
				<div sec:authorize="hasAnyAuthority('ADMIN')" class="col col-right col-8">
					<form class="h-100 d-flex align-items-center justify-content-end" action="/">
					  <div class="d-flex">
					      <input type="text" name="pizzaName" class="form-control" placeholder="Cerca la tua foto">
						  <button type="submit" class="btn btn-primary mx-3">Cerca</button>
						  <a th:href="@{/logout}" class="btn btn-danger" style="display: inline-block;">Logout</a>
					  </div>
					  
					</form>
				</div>
				
			</div>
		</div>
	</header>
</body>
</html>