<!DOCTYPE html>
<html>
<head th:insert="~{fragments/head :: head}"></head>

<body>
	<header th:replace="~{fragments/fragHeader :: header}"></header>
	
	<div class="container">
		<div class="d-flex justify-content-between align-items-center">
			<h1>'User' dashboard</h1>
			<div>
			<a class="btn btn-outline-success" 
			th:href="@{photo/create}">Aggiungi foto</a>
			<a class="btn btn-outline-success" 
			th:href="@{category/create}">Aggiungi categoria</a>
			</div>
				
		</div>
		<h2 th:if="${arrayPhotos.size() <= 0}">Non sono presenti foto da mostrare</h2>
		<table class="table" th:if="${arrayPhotos.size() > 0}">
			  <thead>
			    <tr>
			      <th scope="col">ID</th>
			      <th scope="col">Titolo</th>
			      <th scope="col">Visibilità</th>
			      <th scope="col"></th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr 
			    	th:each="photo : ${arrayPhotos}"
			    	th:object="${photo}">
			      <td>[[*{id}]]</td>
			      <td>[[*{title}]]</td>
			      <td th:if="${photo.visible == true}">Pubblica</td>
			      <td th:if="${photo.visible == false}">Privata</td>
			      <td>
					  
					  <a th:href="@{photo/{id}(id = ${photo.id})}" class="btn btn-success">Show</a>
					  <a th:href="@{photo/update/{id}(id = ${photo.id})}" class="btn btn-warning">Edit</a>
					  <form style="display: inline;" th:action="@{photo/delete/{id}(id = ${photo.id})}" method="post">
						  <button type="submit" class="btn btn-danger">Delete</button>
					  </form>
					  
				  </td>
			    </tr>
			  </tbody>
		</table>
		
	</div>

</body>
</html>