<!DOCTYPE html>
<html>
<head th:insert="~{fragments/head :: head}"></head>

<body>
	<header th:replace="~{fragments/fragHeader :: header}"></header>
	
	<div class="container">
		<div class="d-flex justify-content-between align-items-center">
			<h1>Photo index!</h1>
			<div>
			<a class="btn btn-success" 
			th:href="@{photo/create}"> crea foto</a>
			</div>
				
		</div>
		
		<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">ID</th>
			      <th scope="col">Title</th>
			      <th scope="col">Is Visible</th>
			      <th scope="col"></th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr 
			    	th:each="photo : ${arrayPhotos}"
			    	th:object="${photo}">
			      <td>[[*{id}]]</td>
			      <td>[[*{title}]]</td>
			      <td>[[*{visible}]]</td>
			      <td>
					  
					  <a th:href="@{photo/{id}(id = ${photo.id})}" class="btn btn-success">Show</a>
					  <a th:href="@{photo/update/{id}(id = ${photo.id})}" class="btn btn-warning">Edit</a>
					  <a href="#" class="btn btn-danger">Delete</a>
					  
				  </td>
			    </tr>
			  </tbody>
		</table>
		
	</div>

</body>
</html>