<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: head}"></head>
<body>
 	<div class="container">
		<header th:replace="~{fragments/fragHeader :: header}"></header>

		<h1>Show photo details</h1>
		<div class="d-flex justify-content-center">
					
			<div class="card" style="width: 50%;">
				
				<img th:src="${photo.url}" class="card-img-top" alt="no image found">
				  
				<div class="card-body" th:object="${photo}">
					  
	    	    	<div>
						<p><strong>Titolo: </strong>[[*{title}]]</p>
					</div>
					
		    		<p class="card-text"><strong>Descrizione: </strong>[[*{description}]]</p>
		    		<h4 th:if="${photo.categories.size() <= 0}">Nessuna categoria associata</h4>
		    		<div th:if="${photo.categories.size() > 0}">
						<h4>Categorie :</h4>
						<ul>
							<li th:each="category : ${photo.categories}">
								<span>[[${category.name}]]</span>
							</li>
						</ul>
						</div>
			   		<a th:href="@{/admin/photo}" class="btn btn-danger">Torna alla lista</a>
			   	   
				</div>
				  
			</div>
			
		</div>
	 </div>
</body>
</html>