<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: head}"></head>
<body>
 	<div class="container">
		<header th:replace="~{fragments/fragHeader :: header}"></header>

		<h1>Show photo details</h1>
		<div class="d-flex justify-content-center">
					
			<div class="card" style="width: 50%;">
				
				<img src="#" class="card-img-top" alt="no image found">
				  
				<div class="card-body" th:object="${photo}">
					  
	    	    	<h5 class="card-title">[[*{title}]]</h5>
		    		<p class="card-text">[[*{description}]]</p>
			   		<a th:href="@{/admin/photo}" class="btn btn-danger">Torna alla home</a>
			   	   
				</div>
				  
			</div>
			
		</div>
	 </div>
</body>
</html>